{{! app/templates/v2/ape-note-left-nav.hbs
    左侧导航以及笔记本列表，标签列表}}
<!-- <nav class="ape-note-nav"> -->
    <section class="dropdown ape-note-nav-header">
        <header type="button"  class="ape-note-nav-menu dropdown-toggle"
            id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="ape-note-nav-menu-icon">
                <i class="iconfont">&#xe609;</i>
            </div>
            <div class="ape-note-nav-menu-details">
                <div class="ape-note-nav-menu-details-blog">
                    {{displayName}}
                </div>
                <div class="ape-note-nav-menu-details-user">
                    {{nickname}}
                </div>
            </div>
            {{!fa-icon "fa-angle-down" size=2}}
            <i class="icon-arrow"></i>
        </header>
        <ul class="dropdown-menu dropdown-triangle-top js-user-menu-dropdown-menu dropdown-menu-right"
            role="menu" style="right:-20px;left:auto;" aria-labelledby="dropdownMenu2">
            <li role="presentation">
                {{#link-to 'v2.notebook' class="ape-note-nav-menu-about dropdown-item js-nav-item ape-note-nav-menu-about dropdown-item js-nav-item"}}
                    <i class="fa fa-home"></i>笔记首页
                {{/link-to}}
            </li>
            <li class="divider"></li>
            <li role="presentation">
                <a data-toggle="modal" data-target=".notebook-list-modal" tabindex="-1"
                    class="dropdown-item user-menu-profile js-nav-item dropdown-item user-menu-profile js-nav-item">
                    <i class="icon-list"></i>笔记本管理
                </a>
            </li>
            <li role="presentation">
                <a tabindex="-1" class="dropdown-item user-menu-profile js-nav-item dropdown-item user-menu-profile js-nav-item">
                    <i class="icon-tag"></i>tag管理
                </a>
            </li>
            <li class="divider"></li>
            <li role="presentation">
                <a tabindex="-1" data-toggle="modal" data-target=".recycle-bin-modal" tabindex="-1"
                    class="dropdown-item user-menu-profile js-nav-item dropdown-item user-menu-profile js-nav-item">
                    <i class="fa fa-recycle"></i>回收站</a>
            </li>
            <li role="presentation">
                <a tabindex="-1" class="dropdown-item user-menu-profile js-nav-item dropdown-item user-menu-profile js-nav-item">
                    <i class="icon-settings"></i>设置
                </a>
            </li>
            <li role="presentation">
                <a tabindex="-1" class="dropdown-item user-menu-profile js-nav-item dropdown-item user-menu-profile js-nav-item">
                    <i class="icon-question"></i>使用帮助
                </a>
            </li>
            <li role="presentation">
                {{#link-to 'intro' class="dropdown-item user-menu-profile js-nav-item dropdown-item user-menu-profile js-nav-item"}}
                    <i class="fa fa-home"></i>猿笔记主页
                {{/link-to}}
            </li>
            <li class="divider"></li>
            <li role="presentation">
                <a tabindex="-1" {{action 'logout'}} class="dropdown-item user-menu-signout dropdown-item user-menu-signout">
                    <i class="icon-signout"></i>退出
                </a>
            </li>
        </ul>
    </section>
    <section class="ape-note-nav-body">
        <section class="ape-note-nav-search">
            <div class="ape-note-nav-search-input">
                <select autocomplete="off" class="ember-selectize selectized" tabindex="-1" style="display: none;">
                    <option value="" selected="selected"></option>
                </select>
                <div class="selectize-control ember-selectize multi plugin-remove_button">
                    <div class="selectize-input items not-full">
                        <input type="text" autocomplete="off" tabindex="0"
                            placeholder="搜索……" style="opacity: 1; position: relative; left: 0px; top: 1px;">
                    </div>
                    <div class="selectize-dropdown multi ember-selectize plugin-remove_button"
                        style="display: none; width: 204px; top: 31px; left: 0px;">
                        <div class="selectize-dropdown-content"></div>
                        <div class="dropdown-empty-message" style="display: none;">Nothing found…</div>
                    </div>
                </div>
                <button class="ape-note-nav-search-button">
                    {{!fa-icon "fa-search" size=4}}
                    <i class="icon-search"></i>
                    <span class="sr-only">搜索……</span>
                </button>
            </div>
        </section>
        {{! 笔记本列表}}
        <ul class="ape-note-nav-list ape-note-nav-main" id="notebookListForUseGuide">
            {{#each noteboos as |item|}}
            {{#if (eq item.status 1)}}
            <li {{action 'setSelectedNotebook' item.id item.title}} title={{item.title}}>
                {{#link-to 'v2.notebook.list' item.id class="ape-notebook-list ape-note-nav-main-editor ape-note-nav-main-editor" id=item.id}}
                    {{fa-icon "fa-book" size=4}}{{item.title}}
                    <!-- <i class="icon-pen" {{action 'editNotebook' item.id}}></i> -->
                {{/link-to}}
            </li>
            {{/if}}
            {{/each}}
        </ul>
        {{! tag标签，后面可能用到，暂时注释 ================== }}
        <!-- <ul class="ape-note-nav-list ape-note-nav-settings">
            <li class="ape-note-nav-list-h">标签</li>
            <li>
                <a class="ape-note-nav-settings-tags ape-note-nav-settings-tags">
                    {{fa-icon "fa-tag" size=4}} Java</a>
            </li>
        </ul> -->
    </section>
    <footer class="ape-note-nav-footer dropup">
        <!-- <div class="ape-note-menu-toggle" {{action 'closeMenu'}}>
            <i role="button" class={{if isCloseIcon 'icon-minimise' 'icon-maximise'}} id="clonseMenuIconId"></i>
        </div> -->
        <!-- <div class="ape-note-menu-toggle dropup">
            <div role="button" class="closed dropdown-toggle" id="settingMenu"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-settings"></i>
            </div>
            <ul class="dropdown-menu" aria-labelledby="settingMenu">
                <li role="presentation">
                    <a class="dropdown-item help-menu-support" role="menuitem" tabindex="-1" href="http://support.ghost.org/" target="_blank">
                        <i class="icon-list"></i>笔记本设置
                    </a>
                </li>
                <li role="presentation">
                    <a class="dropdown-item help-menu-tweet" role="menuitem" tabindex="-1" href="https://twitter.com/intent/tweet?text=%40TryGhost+Hi%21+Can+you+help+me+with+&amp;related=TryGhost" target="_blank" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                        <i class="icon-tag"></i>tag设置
                    </a>
                </li>
            </ul>
        </div> -->

        <!-- <a class="ape-note-nav-footer-sitelink" target="_blank" href="http://blog.ddlisting.com/">View blog</a> -->
        {{!#link-to 'v2.notebook.note.new' }}
        {{! 右边悬浮工具按钮}}
        <!-- <div class="dropup"> -->
           <a class="ape-note-nav-footer-sitelink dropdown-toggle" id="dropdownMenu"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="icon-add"></i>&nbsp;新建
           </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
               <li>
                   {{!#link-to 'v2.notebook.new'}}
                    <!-- <span class="glyphicon glyphicon-file"></span> -->
                    <a style="cursor: pointer;" href="" id="newNoteLinkId">
                        <i class="icon-markdown"></i>&nbsp;新建Markdown笔记
                    </a>
                   {{!/link-to}}
               </li>
               <li><a><i class="fa fa-file-o"></i>&nbsp;新建普通笔记</a></li>
               <li role="separator" class="divider"></li>
               <li data-toggle="modal" data-target=".create-notebook-modal-sm" id="newNotebookForUseGuide">
                   <a style="cursor: pointer;"><i class="icon-book"></i>&nbsp;新建笔记本</a>
               </li>
          </ul>
      <!-- </div> -->

        <!-- <div class="ape-note-help-menu">
            <div role="button" class="closed">
                <div class="ape-note-help-button">
                    <i class="icon-question">
                        <span class="hidden">Help</span></i>
                </div>
            </div>
            <div class="dropdown closed fade-out closed">
                <ul class="dropdown-menu dropdown-triangle-bottom" role="menu">
                    <li role="presentation">
                        <a class="dropdown-item help-menu-support" role="menuitem" tabindex="-1" href="http://support.ghost.org/" target="_blank">
                            <i class="icon-ambulance"></i>Support Center</a>
                    </li>
                    <li role="presentation">
                        <a class="dropdown-item help-menu-tweet" role="menuitem" tabindex="-1" href="https://twitter.com/intent/tweet?text=%40TryGhost+Hi%21+Can+you+help+me+with+&amp;related=TryGhost" target="_blank" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                            <i class="icon-twitter"></i>Tweet @TryGhost!</a>
                    </li>
                    <li class="divider"></li>
                    <li role="presentation">
                        <a class="dropdown-item help-menu-how-to" role="menuitem" tabindex="-1" href="http://support.ghost.org/how-to-use-ghost/" target="_blank">
                            <i class="icon-book"></i>How to Use Ghost</a>
                    </li>
                    <li role="presentation">
                        <a class="dropdown-item help-menu-markdown" role="menuitem" tabindex="-1" href="" data-ember-action="1153">
                            <i class="icon-markdown"></i>Markdown Help</a>
                    </li>
                    <li class="divider"></li>
                    <li role="presentation">
                        <a class="dropdown-item help-menu-wishlist" role="menuitem" tabindex="-1" href="http://ideas.ghost.org/" target="_blank">
                            <i class="icon-idea"></i>Wishlist</a>
                    </li>
                </ul>
            </div>
        </div> -->
    </footer>
    <!-- <div class="ape-note-autonav-toggle" onmousemove={{action 'showLeftMenu'}}></div> -->
<!-- </nav> -->
