{{! app/templates/v2/ape-note-left-nav.hbs
    左侧导航以及笔记本列表，标签列表}}
<!-- <nav class="ape-note-nav"> -->
    <section class="dropdown ape-note-nav-header">
        <header type="button"  class="ape-note-nav-menu dropdown-toggle"
            id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="ape-note-nav-menu-icon">
                <i class="iconfont">&#xe609;</i>
            </div>
            <div class="ape-note-nav-menu-details">
                <div class="ape-note-nav-menu-details-blog">
                    {{displayName}}
                </div>
                <div class="ape-note-nav-menu-details-user">
                    {{nickname}}
                </div>
            </div>
            <i class="icon-arrow"></i>
        </header>
        <ul class="dropdown-menu dropdown-triangle-top js-user-menu-dropdown-menu dropdown-menu-right"
            role="menu" style="right:-20px;left:auto;" aria-labelledby="dropdownMenu2">
            <li role="presentation">
                {{#link-to 'v2.notebook' class="ape-note-nav-menu-about dropdown-item js-nav-item ape-note-nav-menu-about dropdown-item js-nav-item"}}
                    <i class="fa fa-home"></i>笔记首页
                {{/link-to}}
            </li>
            <li class="divider"></li>
            <li role="presentation">
                <a data-toggle="modal" data-target=".notebook-list-modal" tabindex="-1"
                    class="dropdown-item user-menu-profile js-nav-item dropdown-item user-menu-profile js-nav-item">
                    <i class="icon-list"></i>笔记本管理
                </a>
            </li>
            <li role="presentation">
                <a tabindex="-1" class="dropdown-item user-menu-profile js-nav-item dropdown-item user-menu-profile js-nav-item">
                    <i class="icon-tag"></i>tag管理
                </a>
            </li>
            <li class="divider"></li>
            <li role="presentation">
                <a tabindex="-1" data-toggle="modal" data-target=".recycle-bin-modal" tabindex="-1"
                    class="dropdown-item user-menu-profile js-nav-item dropdown-item user-menu-profile js-nav-item">
                    <i class="fa fa-recycle"></i>回收站</a>
            </li>
            <li role="presentation">
                <a tabindex="-1" class="dropdown-item user-menu-profile js-nav-item dropdown-item user-menu-profile js-nav-item">
                    <i class="icon-settings"></i>设置
                </a>
            </li>
            <li role="presentation">
                <a tabindex="-1" class="dropdown-item user-menu-profile js-nav-item dropdown-item user-menu-profile js-nav-item">
                    <i class="icon-question"></i>使用帮助
                </a>
            </li>
            <li role="presentation">
                {{#link-to 'intro' class="dropdown-item user-menu-profile js-nav-item dropdown-item user-menu-profile js-nav-item"}}
                    <i class="fa fa-home"></i>猿笔记主页
                {{/link-to}}
            </li>
            <li class="divider"></li>
            <li role="presentation">
                <a tabindex="-1" {{action 'logout'}} class="dropdown-item user-menu-signout dropdown-item user-menu-signout">
                    <i class="icon-signout"></i>退出
                </a>
            </li>
        </ul>
    </section>
    <section class="ape-note-nav-body">
        <section class="ape-note-nav-search">
            <div class="ape-note-nav-search-input ">
                <div class="selectize-control multi plugin-remove_button dropdown" id="searchResultPanel">
                    <div class="selectize-input items not-full dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenu3">
                        {{input type="text" autocomplete="off" tabindex="0" value=searchValue
                            placeholder="搜索……" style="opacity: 1; position: relative; left: 0px; top: 1px;"}}
                    </div>
                    {{#if searchValue}}
                    <ul class="dropdown-menu dropdown-menu-right"
                        role="menu" aria-labelledby="dropdownMenu3">
                        {{#each searchNoteList as |note|}}
                        <li role="presentation" {{action 'setSelectedNote' note.id}}>
                            {{#link-to 'v2.notebook.list.detail' note.notebook.id note.id}}{{note.title}}{{/link-to}}
                        </li>
                        {{else}}
                            <li role="presentation"><a>笔记不存在…</a></li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </div>
                <button class="ape-note-nav-search-button">
                    {{!fa-icon "fa-search" size=4}}
                    <i class="icon-search"></i>
                    <span class="sr-only">搜索……</span>
                </button>
            </div>
        </section>
        {{! 笔记本列表}}
        <ul class="ape-note-nav-list ape-note-nav-main" id="notebookListForUseGuide">
            {{#each notebooks as |item|}}
            {{#if (eq item.status 1)}}
            <li {{action 'setSelectedNotebook' item.id item.title}} title={{item.title}}>
                {{#link-to 'v2.notebook.list' item.id class="ape-notebook-list ape-note-nav-main-editor ape-note-nav-main-editor" id=item.id}}
                    {{fa-icon "fa-book" size=4}}{{item.title}}
                {{/link-to}}
            </li>
            {{/if}}
            {{/each}}
        </ul>
        {{! tag标签，后面可能用到，暂时注释 ================== }}
        <!-- <ul class="ape-note-nav-list ape-note-nav-settings">
            <li class="ape-note-nav-list-h">标签</li>
            <li>
                <a class="ape-note-nav-settings-tags ape-note-nav-settings-tags">
                    {{fa-icon "fa-tag" size=4}} Java</a>
            </li>
        </ul> -->
    </section>
    <footer class="ape-note-nav-footer dropup">
           <a class="ape-note-nav-footer-sitelink dropdown-toggle" id="dropdownMenu"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="icon-add"></i>&nbsp;新建
           </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
               <li>
                    <a style="cursor: pointer;" href="" id="newNoteLinkId">
                        <i class="icon-markdown"></i>&nbsp;新建Markdown笔记
                    </a>
               </li>
               <li><a><i class="fa fa-file-o"></i>&nbsp;新建普通笔记</a></li>
               <li role="separator" class="divider"></li>
               <li data-toggle="modal" data-target=".create-notebook-modal-sm" id="newNotebookForUseGuide">
                   <a style="cursor: pointer;"><i class="icon-book"></i>&nbsp;新建笔记本</a>
               </li>
          </ul>

    </footer>
<!-- </nav> -->
